@{
    ViewData["Title"] = "Bike Details";
}
<div class="container" align="center">
    <img src="~/images/bikes/evado_1.0_czarny_grafit_m_mat_1_2.jpg"/>
     <div class="mt-3 p-3">
        <table class="table table-responsive table-bordered text-center">
            <thead class="text-info">
                <tr>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Wheel</th>
                    <th>Color</th>
                    <th>Description</th>
                    <th>For</th>
            </thead>
              <tbody>
                    <tr>
                        <td>Bike Cross Evado 1.0 2020</td>
                        <td>M</td>
                        <td>28</td>
                        <td>Black</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi u</td>
                        <td>Men</td>
                    </tr>
             </tbody>
        </table>
    </div>

</div>
